body {
  font-family: "roboto", sans-serif;
  margin: 0;
  background-color: rgb(234, 234, 234);
}
@media only screen and (min-width: 1025px) {
  body {
    background-color: white;
  }
}

h1 {
  font-family: "shrikhand", sans-serif;
  font-size: 28px;
  font-weight: 400;
}

/* header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
}
header img {
  margin: 20px;
}
header a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* photo */
.photo img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
  object-fit: cover;
}

/* titre */
main {
  background-color: rgb(234, 234, 234);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  margin-top: -50px;
  padding-bottom: 10px;
  z-index: 1;
}
@media only screen and (min-width: 1025px) {
  main {
    background-color: rgb(234, 234, 234);
    margin-left: 10%;
    margin-right: 10%;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* menu */
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  background-color: rgb(234, 234, 234);
  padding-bottom: 40px;
}
.menu a {
  text-decoration: none;
}

h2 {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

hr {
  width: 40px;
  border: 3px solid rgb(153, 226, 208);
  margin: 0;
}

.course {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(246, 246, 246);
  height: 70px;
  border-radius: 15px;
  padding-left: 20px;
  overflow: hidden;
  opacity: 0;
  transform: translateX(20px);
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.course:nth-child(1) .description:nth-child(1) {
  animation-delay: 0.5s;
}

.course:nth-child(2) .description:nth-child(1) {
  animation-delay: 1s;
}

.course:nth-child(3) .description:nth-child(1) {
  animation-delay: 1.5s;
}

.menu-item {
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu-item h3,
.menu-item p {
  margin: 0;
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.menu-item h3 {
  font-size: 18px;
  font-weight: 500;
}
.menu-item p {
  font-size: 15px;
  font-weight: 300;
}

.price {
  font-weight: 700;
  font-size: 15px;
  color: black;
  padding: 10px;
}

.order {
  margin-top: 40px;
}

.btn {
  background: linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));
  border-radius: 25px;
  padding: 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: opacity 500ms, filter 500ms, transform 300ms 200ms;
}

.btn:hover {
  opacity: 0.8;
  filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.25));
  transform: scale(1.01);
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgb(53, 53, 53);
  margin: 0;
  padding: 30px;
}
footer img {
  color: white;
  height: 20px;
  filter: invert(1);
}
footer li {
  list-style: none;
  font-weight: 400;
  margin-top: 10px;
}
footer a {
  color: white;
  text-decoration: none;
}
footer i {
  padding-right: 13px;
}
@media only screen and (min-width: 1025px) {
  footer {
    padding-bottom: 0;
  }
  footer img {
    margin: 40px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 1025px) {
  .footer-links {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
  }
}

ul {
  padding: 0;
}
@media only screen and (min-width: 1025px) {
  ul {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: 40px;
    margin-bottom: 0;
  }
}

.bold-links li {
  font-weight: 500;
}

i.fa-solid.fa-handshake-angle {
  padding-right: 7px;
}

.bold {
  font-weight: 500;
}

/* animations */
.price-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.ajout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0px;
  height: 70px;
  background-color: var(--light-green);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  transition: width 1s ease-in-out;
}

.ajout:active {
  transform: translateX(-150%);
}

@media only screen and (min-width: 1025px) {
  .ajout:hover {
    transform: translateX(-150%);
  }
}
.description:active .ajout {
  width: 100%;
  height: 70px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

@media only screen and (min-width: 1025px) {
  .description:hover .ajout {
    width: 100%;
    height: 70px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(153, 226, 208);
    overflow: hidden;
  }

  .description:hover .ajout {
    animation: ajoutIn 1s ease-in-out forwards;
  }
  @keyframes ajoutIn {
    from {
      width: 0px;
    }
    to {
      width: 70px;
    }
  }
  .description:not(:hover) .ajout {
    animation: ajoutOut 1s ease-in-out forwards;
  }
  @keyframes ajoutOut {
    from {
      width: 70px;
    }
    to {
      width: 0px;
    }
  }
}
.description:active .price-container {
  min-width: 100px;
}

@media only screen and (min-width: 1025px) {
  .description:hover .price-container {
    min-width: 100px;
  }
}
.fa-solid.fa-circle-check {
  color: white;
}

/* animations */
.fa-regular.fa-heart {
  transition: transform 1.5s;
  font-size: 25px;
}

.fa-regular.fa-heart:active {
  font-size: 25px;
  background: -webkit-linear-gradient(
    90deg,
    rgb(255, 121, 218),
    rgb(147, 86, 220)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: fontawesome;
  transform: scale(1);
  animation-duration: 1.5s;
  animation-name: fadeIn;
}
@keyframes fadeIn {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}
.fa-regular.fa-heart:not(:active) {
  animation-duration: 600ms;
  animation-name: fadeOut;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.2;
  }
}

@media only screen and (min-width: 1025px) {
  .fa-regular.fa-heart:hover {
    font-size: 25px;
    background: -webkit-linear-gradient(
      90deg,
      rgb(255, 121, 218),
      rgb(147, 86, 220)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: fontawesome;
    transform: scale(1);
    animation-duration: 1.5s;
    animation-name: fadeIn;
  }
  @keyframes fadeIn {
    from {
      opacity: 0.2;
    }

    to {
      opacity: 1;
    }
  }

  .fa-regular.fa-heart:not(:hover) {
    animation-duration: 600ms;
    animation-name: fadeOut;
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }

    to {
      opacity: 0.2;
    }
  }
}
