$location-color : rgba(234, 234, 234, 1);
$background-color: rgba(246, 246, 246, 1);
$light-green: rgba(153, 226, 208, 1);
$dark-green: rgba(0, 135, 102, 1);
$light-blue: rgba(137, 200, 250, 1);
$dark-blue: rgba(0, 58, 104, 1);
$purple: rgba(147, 86, 220, 1);

body 
  font-family: "roboto", sans-serif
  margin:0

header 
  display: flex
  flex-direction: column
  align-items: center
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5)
header img 
  margin: 20px

.location 
  display: flex
  align-items: center
  justify-content: center
  gap: 17px
  background-color: $location-color
  width: 100%
  border-top: groove 4px rgba(0, 0, 0, 0.15)

.presentation 
  padding: 30px
  padding-bottom: 60px
  background-color: $background-color


.explore 
  display: flex
  flex-direction: column
  align-items: center
  text-align: center

.explore h1 
  font-size: 24px
  font-weight: 700
  margin: 0


.explore p 
  font-size: 18px
  font-weight: 300


.btn
  background: linear-gradient(rgba(255, 121, 218, 1), rgba(147, 86, 220, 1))
  border-radius: 25px
  padding: 15px
  color: rgba(255, 255, 255, 1)
  text-decoration: none
  font-size: 16px
  font-weight:500
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))

  .function 
  display: flex
  flex-direction: column

.function-links 
  display: flex
  flex-direction: column
  align-items: center
  gap: 20px
  padding: 0


.sub-function 
  display: flex
  align-items: center
  justify-content: flex-start
  background-color: $background-color
  border-radius: 20px
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))


.sub-function i 
  margin: 30px
  margin-left: 40px


.function h2 
  margin-left: 20px
  margin-top: 50px


ul 
  list-style-type: none


li 
  padding: 0.5rem
  counter-increment: list
  width: 90%


li::before 
  content: counter(list)
  background-color: $purple
  color: white
  border-radius: 50%
  padding: 0.2rem 0.5rem
  position: relative
  top: 50px
  right: 10px
  z-index: 1
.restaurants 
  background-color: blue


.restaurant 
  display: flex
  flex-direction: column
  align-items: center
  gap: 18px


.card-restaurant 
  background-color: white
  width: 90%
  height: 250px
  border-radius: 15px
 


.card-restaurant a 
  height: 100%
  width: 100%
  text-decoration: none


.restaurant-image 
  height: 70%
  


.restaurant-image img 
  height: 100%
  width: 100%
  border-top-left-radius: 15px
  border-top-right-radius: 15px

.restaurant-info
  height:30%
  background-color: pink 
  color : white 
  
.restaurant-info p,
  h3
    margin : 0