.load {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30%;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .load {
    margin-top: 20%;
    font-size: 3rem;
  }
}

.load__bar {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeIn 1s ease-out forwards;
}
.load__bar i {
  font-family: fontawesome;
  background: -webkit-linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-100px) rotate(360deg);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.load:nth-child(1) .load__bar:nth-child(1) {
  animation-delay: 0.5s;
}

.load:nth-child(1) .load__bar:nth-child(2) {
  animation-delay: 1s;
}

.load:nth-child(1) .load__bar:nth-child(3) {
  animation-delay: 1.5s;
}

.load:nth-child(1) .load__bar:nth-child(4) {
  animation-delay: 2s;
}

.load:nth-child(1) .load__bar:nth-child(5) {
  animation-delay: 2.5s;
}

.load:nth-child(1) .load__bar:nth-child(6) {
  animation-delay: 3s;
}
